<body>
    <div class="container" id="mainContainer">
        <div id="article">
            <p>
                I am Muskan Khedia
            </p>
        </div>
        <label>Name</label>
        <input name= "Name" type = "text" ng-model="name">
        <br>
        <label>Comment</label>
        <textarea cols="50" rows="5" style="border:solid 1px orange;" ng-model="newComment"></textarea>
        <br>
        <div class="btn btn-primary" ng-click="addComment()">Add Comment</div>

        <div data-ng-init="getAllComments()">
            <div data-ng-if="dataList.length !== 0">
                    <div data-ng-repeat="r in dataList">
                        <p>
                            Name: {{r.name}}
                        </p>
                        <p>
                            Comment: {{r.comment}}
                        </p>
    
                        <p ng-click="upVote(r['id'])">Upvote {{r.upvote}}</p>
                        <p ng-click="downVote(r['id'])">DownVote {{r.downvote}}</p>
                    </div>

            </div>
        </div>
    </div>

    
</body>